@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Martian Mono", monospace;
  font-size: 16px;
}

.container {
  display: grid;
  gap: 0.1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar top-nav top-nav top-nav top-nav"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
  height: 100vh;
  overflow: hidden;
}

.container p {
  padding: 0.3em;
  border-radius: 0.5em;
  padding: 1%;
}

.sidebar {
  background-color: #05386b;
  grid-area: sidebar;
  color: white;
}

.sidebar > div {
  padding: 0.3em;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: #5cdb95;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

[class^="icon"] {
  width: 1.8em;
  height: 1.8em;
  position: relative;
  top: 0.39em;
  color: white;
  -webkit-filter: invert(100%);
}

.top-nav {
  background-color: #379683;
  grid-area: top-nav;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.logged-in p,
.three-buttons p {
  width: max-content;
  float: right;
  margin-right: 5%;
}

.hello p,
.search-bar p {
  margin-left: 1%;
}

.button {
  border-radius: 0.7em;
  padding: 0.6em;
  font-size: minmax(2em, 3em);
  font-weight: bold;
  background-color: #05386b;
  color: white;
}

.button:hover {
  color: #5cdb95;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.top-nav > div {
  padding: 2%;
}

.top-nav input[type="text"] {
  padding: 0.3em;
  border-radius: 0.7em;
  font-size: medium;
  width: min(80%);
}

.top-nav.search-bar {
  background-color: white;
}

.main {
  background-color: #5cdb95;
  grid-area: main;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: repeat(11, 1fr); */
  grid-template-rows: auto-fit;
  padding: 1%;
}

.projects {
  grid-area: projects;
}

.element {
  display: grid;
  border-radius: 0.5em;
  padding: 1%;
  background-color: #8ee4af;
  overflow: hidden;
  font-size: 0.7em;
}

.element > p:first-child {
  font-weight: bold;
}

.post-options {
  padding: 2%;
  place-self: end;
}

.projects {
  grid-column: 1 / 5;
  grid-row: 1 / 1;
}

.item-1 {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}

.item-2 {
  grid-column: 1 / 3;
  grid-row: 5 / 8;
}

.item-3 {
  grid-column: 1 / 3;
  grid-row: 8 / 11;
}

.item-4 {
  grid-column: 3 / 5;
  grid-row: 2 / 5;
}

.item-5 {
  grid-column: 3 / 5;
  grid-row: 5 / 8;
}

.item-6 {
  grid-column: 3 / 5;
  grid-row: 8 / 11;
}

.annoucements {
  grid-column: 5 / 6;
  grid-row: 1 / 1;
}

.item-7 {
  grid-column: 5 / 6;
  grid-row: 2 / 6;
}

.trending {
  grid-column: 5 / 7;
  grid-row: 6 / 7;
}

.item-8 {
  grid-column: 5 / 7;
  grid-row: 7 / 11;
}
