@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Martian Mono", monospace;
  font-size: 16px;
}

.container {
  display: grid;
  gap: 0.1em;
  grid-template-columns: fit-content(1fr) 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar top-nav top-nav top-nav top-nav"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
  height: 100vh;
  overflow: hidden;
}

.container p {
  padding: 0.3em;
  border-radius: 0.5em;
  padding: 1%;
}

.sidebar {
  display: grid;
  background-color: #05386b;
  grid-area: sidebar;
  color: white;
  align-items: start;
  grid-template-columns: max-content;
}

.sidebar > div {
  margin-left: 1em;
  margin-top: 0;
  padding-right: 1em;
}

[class^="icon"] {
  width: 1.8em;
  height: 1.8em;
  position: relative;
  top: 0.39em;
  color: white;
  -webkit-filter: invert(100%);
  padding: 0;
  margin: 0;
}

.spy-glass,
.bell-icon {
  width: 1.8em;
  height: 1.8em;
  top: 0.39em;
  color: white;
  -webkit-filter: invert(100%);
  padding: 0;
  margin: 0;
}

.spy-glass {
  margin-right: 1rem;
}
.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: #5cdb95;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.top-nav {
  background-color: #379683;
  grid-area: top-nav;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.logged-in p,
.three-buttons p {
  width: max-content;
  float: right;
  margin-right: 5%;
}

.search-bar p {
  width: max-content;
  float: left;
  margin-left: 5%;
}

#search-bar {
  width: 100%;
}

.top-nav > .hello {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  justify-items: start;
  padding: 0;
  margin: 0;
}

.top-nav > .search-bar {
  display: grid;
  grid-template-columns: min-content 1fr;
  place-items: center start;
}

.top-nav > .search-bar > .icon {
  padding: 5px;
  margin-left: 0.5rem;
}

.button {
  border-radius: 0.7em;
  padding: 0.6em;
  font-size: minmax(2em, 3em);
  font-weight: bold;
  background-color: #05386b;
  color: white;
}

.button:hover {
  color: #5cdb95;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.top-nav > div {
  padding: 2%;
}

.top-nav input[type="text"] {
  padding: 0.3em;
  border-radius: 0.7em;
  font-size: medium;
  width: min(80%);
}

.user-avatar {
  width: 100px;
  background-color: white;
  border-radius: 3rem;
  padding: 5px;
  margin: 0.5rem;
  position: relative;
}

.logged-in {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: end;
  align-items: center;
}

.user-avatar-small {
  width: 40px;
  background-color: white;
  border-radius: 3rem;
  padding: 1px;
  margin: 0.8rem;
}

.main {
  background-color: rgb(92, 219, 149);
  grid-area: main;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  padding: 1%;
  overflow-y: scroll;
  align-items: start;
}

.main::-webkit-scrollbar {
  display: none;
}

.main-one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.main-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.projects {
  grid-area: projects;
  padding: 0;
  height: fit-content;
}

.element {
  display: grid;
  border-radius: 0.5em;
  padding: 1%;
  background-color: #8ee4af;
  /* overflow: auto; */
  font-size: 0.7em;
  box-shadow: 2px 2px 4px #379683;
}

.post-options {
  padding: 2%;
  place-self: end;
}

.item-7 > p::first-line {
  font-size: larger;
  font-weight: bold;
}
